<h4>Edit task</h4>
<form [formGroup]="todoForm">
  <div class="form-group">
    <label for="title">Title</label>
    <input
      formControlName="title"
      type="text"
      class="form-control"
      id="title"
      placeholder="Make an appointment with a doctor"
    />
  </div>
  <div class="form-group">
    <label for="urgency">Urgency</label>
    <select formControlName="urgency" class="form-control" id="urgency">
      <option *ngFor="let urgency of urgencyArray">{{ urgency }}</option>
    </select>
  </div>
  <button (click)="onSubmit()" type="submit" class="btn btn-primary">
    Submit
  </button>
</form>
